* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3e9f1;
    height: 130px;
    width: 100%;
}

.logo-orinoco {
    margin-left: 20px;
}

.panier {
      margin-right: 20px;
}

.fa-shopping-basket {
    color: #915CF7;
}
.card-title a {
    text-decoration: none;
    color: #E59730;
}

.card-title a:hover {
    color: #915CF7;
}

 h2 {
    font-family: 'Indie Flower','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 60px;
    font-weight: bold;
    font-size: 40px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
}

article h3 {
    background-color: #f3e9f1;
    color: #915CF7;
    padding: 20px;
}

article h5 {
    padding-bottom: 10px;
}

.card-product {
    padding: 0;
}

#product__img {
    width: 100%;
    margin: 0;
}
#product__price {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #E59730;
}

button {
    width: 80%;
    margin: 15px auto;
}

form {
    text-align: center;
    margin: 15px;
}


/* ----------  Page Panier ---------- */



#products {
    display: flex;
    flex-wrap: wrap;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-product {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 30%;
}

.cart-lenses {
    width: 20%;
}

.cart-price {
    width: 15%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 25%;
}

.cart-item-name {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    width: 45%;
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
   
    margin-right: 10px;
    margin-left: 10px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

#cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

#cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

#cart-total-price {
    color: #333;
    font-size: 1.1em;
    font-weight: 600;
}

.btn-purchase {
    display: block;
    width: 30%;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

#formulaire-validation {
    background-color:  #f3e9f1;
    border-radius: 50px;
    margin-top: 40px;
}

form h2 {
    margin: 0;
    padding: 20px 0;
    
}
form input {
    width: 40%;
    margin: 15px 15px;
}

#erreur {
    color: red;
}

#validation-commande {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #f3e9f1;
    border-radius: 50px;
}

#empty-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 150px;
    font-size: 45px;
}